# Get your API key from https://developers.aptoslabs.com
NEXT_PUBLIC_APTOS_API_KEY=aptoslabs_your_key_here

# Shelby network
NEXT_PUBLIC_SHELBY_NETWORK=shelbynet

# Shelby RPC endpoint
NEXT_PUBLIC_SHELBY_RPC=https://api.shelbynet.shelby.xyz/shelby
